/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* MARK: - Variables ----------------------------------------------------------------------------------------*/
:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
}

/* Global */
main {
  margin-top: var(--topNavbarHeight);
  padding: 1rem;
}

body {
  font-family: 'Inter', sans-serif !important;
  font-weight: 200;
}

h2 {
  font-weight: 200;
}

/* Using in navbar to make sure the account dropdown does not expand collapsed navbar */
.popout { position: absolute !important;}

/* MARK: - Sidebar  ------------------------------------------------------------------------------------------*/
.sidebar-nav {
  width: var(--offcanvas-width);
}

@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }

  /* .offcanvas-backdrop::before {
    display: none;
  } */
  
  main.sidebar-present-content {
    margin-left: var(--offcanvas-width);
  }
  
  .sidebar-nav {
    transform: none;
    visibility: visible !important;
    top: var(--topNavbarHeight);
    height: calc (100% - var(--topNavbarHeight));
  }
}

.sidebar-link {
  display: flex;
  align-items: center;
}

.sidebar-link .right-icon {
  display: inline-flex;
  transition: all ease 0.25s;
}

.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}

.pressed-button {
  background-color: #5a6269;
}

/* MARK: - Login and Register  ----------------------------------------------------------------------------------*/

main.login-and-logout form {
  margin-top: 5rem;
}