/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* MARK: - Variables ----------------------------------------------------------------------------------------*/
:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
  --navbarColor: #064B73;
  --navbarSecondaryColor: #125c88; /* #095e8f */
  --navbarHeaderColor: #849DB4;
  --textColor: #233D53;
  --footerColor: #c3c3c3;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--footerColor) !important;
  opacity: .5 !important; /* Firefox */
}

/* Global */
main {
  margin-bottom: 2rem;
  margin-top: var(--topNavbarHeight);
  padding: 1rem;
  min-height: calc(100% - 30px);
}

html, body {
  height: 100%;
  color: var(--textColor);
}
 
#alertDiv {
  z-index: 5;
  left: 1rem;
  right: 1rem;
}

#ERSLogo {
  margin-right: auto;
  width: 100px;
}

li {
  list-style: none;
}

body {
  font-family: 'Inter', sans-serif !important;
  font-weight: 200;
}

h2 {
  font-weight: 200;
}

button:hover {
  filter: brightness(1.2);
}

.submit-button {
  width: 100px;
  height: 50px;
  color: white;
  background-color: #ffb907;
}

.submit-button:hover {
  filter: brightness(1.05);
  color: white;
}

/* Using in navbar to make sure the account dropdown does not expand collapsed navbar */
.popout { position: absolute !important;}

/* MARK: - Navbar and Sidebar ----------------------------------------------------------------------------------*/

#navbar, #sidebarNav {
  background-color: var(--navbarColor);
}

.sidebar-header {
  color: #849DB4;
  font-weight: 400;
}

.sidebar-nav {
  width: var(--offcanvas-width);
}

@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }

  .sidebar-present-content #alertDiv {
    margin-left: var(--offcanvas-width);
  }
  
  main.sidebar-present-content {
    margin-left: var(--offcanvas-width);
  }

  footer {
    margin-left: var(--offcanvas-width) !important;
  }
  
  .sidebar-nav {
    transform: none;
    visibility: visible !important;
    top: var(--topNavbarHeight);
    height: calc (100% - var(--topNavbarHeight));
  }
}

#sidebarNav a:hover {
  font-weight: 300;
}

.sidebar-link {
  display: flex;
  align-items: center;
}

.sidebar-link .right-icon {
  display: inline-flex;
  transition: all ease 0.25s;
}

.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}

.pressed-button {
  background-color: var(--navbarSecondaryColor);
}

/* MARK: - Reimbs Table ---------------------------------------------------------------------------------*/
#requestsDiv table{
  color: var(--textColor);
}

footer {
  color: var(--footerColor);
  display:grid ;
  justify-content: center;
  height: 30px;
  position: relative;
  bottom: 0;
  margin-left: 0;
}