/* MARK: - Variables ----------------------------------------------------------------------------------------*/
:root {
    --pendingLabelColor: #b5b5b5;
    --deniedLabelColor: #7a0800;
    --approvedLabelColor: #004d06;
}

#mainHeader {
    margin-bottom: 2rem;
}

#dashboardDiv .card {
    cursor: pointer !important;
}

#dashCardHeader h4 {
    font-size: 10rem;
    display: flex;
    justify-content: center;
}

#dashCardHeader h5 {
    font-weight: 300;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

#requestCardDiv {
    max-width: 40rem;
}

/* Reimbs table */
#reimbsTable {
    padding-left: 3rem;
}

tbody tr {
    cursor: pointer;
}

.tableIdColumn {
    font-weight: 400;
}

.reimb-pending-label {
    font-weight: 300;
    color: var(--pendingLabelColor);
}

.reimb-approved-label {
    font-weight: 300;
    color: var(--approvedLabelColor);
}

.reimb-denied-label {
    font-weight: 300;
    color: var(--deniedLabelColor);
}

.table-filter-component-div {
    width: 10px;
}

.table-filter-component-div span {
    margin: auto auto 0 0;
}

#reimbsFilterLabel {
    margin-right: 15px;
    font-size: .9rem;
    color: var(--pendingLabelColor);
}

#requestsDiv button {
    border-radius: 100%;
    border: none;
    width: 30px;
    height: 30px;
    margin-left: 2px;
}

#requestsDiv button:hover {
    /* border: 1px solid; */
    border-color: green;
    box-shadow:  0 5px 15px var(--pendingLabelColor);
}

#filterReimbsPendingButton {
    background-color: var(--pendingLabelColor);
}

#filterReimbsDeniedButton {
    background-color: var(--deniedLabelColor);
}

#filterReimbsApprovedButton {
    background-color: var(--approvedLabelColor);
}

#filterReimbsResetButton {
    background-color: white;
    color: var(--pendingLabelColor);
    border: 1px solid var(--pendingLabelColor) !important;
}

/* MARK: - Employee Portal Exclusives -------------------------------------------------------------------------- */
#newExpenseDiv {
    max-width: 50rem;
}

#reimbReceiptUploadImg {
    max-height: 40rem;
}