/* Setting cursor to pointer as our table rows are clickable */
tbody tr {
    cursor: pointer;
}

#dashboardDiv .card {
    cursor: pointer !important;
}

#dashCardHeader h4 {
    font-size: 10rem;
    display: flex;
    justify-content: center;
}

#dashCardHeader h5 {
    font-weight: 300;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

#requestCardDiv {
    max-width: 40rem;
}

/* Reimbs table */
.tableIdColumn {
    font-weight: 400;
}

.reimb-pending-label {
    font-weight: 300;
    color: #b5b5b5;
}

.reimb-approved-label {
    font-weight: 300;
    color: #7a0800;
}

.reimb-denied-label {
    font-weight: 300;
    color: #004d06;
}

/* MARK: - Employee Portal Exclusives -------------------------------------------------------------------------- */
#newExpenseDiv {
    max-width: 50rem;
}

#reimbReceiptUploadImg {
    max-height: 40rem;
}