/* MARK: - Variables ----------------------------------------------------------------------------------------*/
:root {
    --pendingLabelColor: #b5b5b5;
    --deniedLabelColor: #7a0800;
    --approvedLabelColor: #004d06;
}

#mainHeader {
    margin-bottom: 2rem;
    border-bottom: 0.5px solid rgb(6, 75, 115, .2);
}

/* Dash */

#dashboardDiv .card {
    cursor: pointer !important;
    max-width: 18rem;
    height: 400px;
    margin: 0 auto 0 auto;
    border: none;
    border-radius: 2rem;
    overflow: hidden;
    background-color: var(--navbarColor);
}

#dashboardDiv .card:hover {
    filter: brightness(1.2);
}

#dashCardHeader h4 {
    font-size: 10rem;
    display: flex;
    justify-content: center;
}

#dashCardHeader h5 {
    font-weight: 300;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

#pendingDashCard .card-body {
    background-color: var(--pendingLabelColor);
}

#deniedDashCard .card-body{
    background-color: var(--deniedLabelColor);
}

#approvedDashCard .card-body{
    background-color: var(--approvedLabelColor);
}


/* Reimbs table */
#reimbsTable {
    padding-left: 3rem;
}

tbody tr {
    cursor: pointer;
}

.tableIdColumn {
    font-weight: 400;
}

.reimb-pending-label {
    font-weight: 300;
    color: var(--pendingLabelColor) !important;
}

.reimb-approved-label {
    font-weight: 300;
    color: var(--approvedLabelColor) !important;
}

.reimb-denied-label {
    font-weight: 300;
    color: var(--deniedLabelColor) !important;
}

.table-filter-component-div {
    width: 10px;
}

.table-filter-component-div span {
    margin: auto auto 0 0;
    color: var(--pendingLabelColor);
}

#reimbsFilterLabel {
    margin-right: 5px;
    font-size: .9rem;
    color: var(--pendingLabelColor);
}

#requestsDiv i {
    color: var(--pendingLabelColor);
    margin-right: .4rem;
}

#requestsDiv button {
    border-radius: 100%;
    border: none;
    width: 30px;
    height: 30px;
    margin-left: 2px;
}

#filterReimbsPendingButton {
    background-color: var(--pendingLabelColor);
}

#filterReimbsDeniedButton {
    background-color: var(--deniedLabelColor);
}

#filterReimbsApprovedButton {
    background-color: var(--approvedLabelColor);
}

#filterReimbsResetButton {
    background-color: white;
    color: var(--pendingLabelColor);
    border: 1px solid var(--pendingLabelColor) !important;
}

/* Request Card */

#reimbCardBackButton {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--pendingLabelColor);
    color: white;
}

#requestCardDiv .card-body button {
    width: 100px;
    height: 50px;
}

#reimbDenyButton {
    background-color: var(--deniedLabelColor);
    color: white;
}

#reimbApproveButton {
    background-color: var(--approvedLabelColor);
    color: white;
}

#requestCard {
    max-width: 40rem;
    margin: 2rem auto 0 auto;
}

/* MARK: - Employee Portal Exclusives -------------------------------------------------------------------------- */
#newExpenseDiv {
    max-width: 50rem;
}

#reimbReceiptUploadImg {
    max-height: 40rem;
}

#newExpenseCard {
    margin-top: 1rem;
    box-shadow: 5px 5px 15px 0px rgba(195, 195, 195, 0.3);
    padding: 5rem;
    border-radius: 1rem;
}